<h2>Контакты</h2>
<p>Телефоны:</p>
<p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
380936949956 Life</p>
<p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 380445998844 Городской</p>